body {
	font-family: 'Inconsolata', Sans-serif;
  font-weight: 400;
  font-size: 3em !important;
}

h1 {
  font-size: 4em !important;
}

h2 {
  font-size: 3.5em !important;
}

h3 {
  font-size: 3.0em !important;
}

h4 {
  font-size: 2.5em !important;
}

h5 {
  font-size: 2.3em !important;
}

h6 {
  font-size: 2.1em !important;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-dark a {
  color: #ccc;
}

.bg-emerald {
  background-color: #2ECC71;
  color: #fff;
}

.bg-peter-river {
  background-color: #3498DB;
  color: #fff;
}

.bg-orange {
  background-color: #F39C12;
  color: #fff;
}

.bg-asphalt {
  background-color: #34495E;
  color: #fff;
}

.bg-sun-flower {
  background-color: #F1C40F;
  color: #fff;
}

.bg-turquoise {
  background-color: #1ABC9C;
  color: #fff;
}

.bg-pomergranate {
  background-color: #C0392B;
  color: #fff;
}

.bg-lavendar {
  background-color: #9B59B6;
  color: #fff;
}

.bg-skin {
  background-color: #FDDA96;
  color: #000;
}

.bg-bright {
  background-color: #eee;
  color: #000;
}

img {
  margin: 10px !important;
  border-radius: 10px !important;
}

.zoom-2x {
  zoom: 200%;
}

.stroke {
  color: white;
  text-shadow: 
   4px  4px 0 #000,
  -4px -4px 0 #000,
  -4px  0px 0 #000,
   0px  4px 0 #000,
   0px  0px 0 #000
}

.bg-gradient {
  background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
color: #fff;

}

.socialMedia {
	content: '@GabLeRoux';
}